@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
}

body {
    background-color: #8ecae6;

    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 90px 0 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
}



.todo-app {
    background-color: #219ebc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

.todo-app h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    
}

.todo-app .add {
    display: flex;
    margin-bottom: 20px;
}

.todo-app input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.todo-app button {
    padding: 10px;
    background-color: #ffb703;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.todo-app ul {
    list-style-type: none;
    padding: 0;
}

.todo-app li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-app li span {
    flex: 1;
    margin-right: 10px;
}

.todo-app li i {
    cursor: pointer;
    margin-left: 10px;
}


.blog_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.blog_filters li {
    font-size: 19px;
    padding: 5px 15px;
    cursor: pointer;
}

.blog_filters li:hover,
.filter_active {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50px;
}

.blog_wrap-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.blog_wrap-container .blog_wrap {
    margin: 2rem;
    left: 10%;
}



.blog_wrap {
    overflow: hidden;
    z-index: 1;
}

.blog_wrap img {
    border-radius: 10px;
}



.blog_info {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.blog_info h4,
a,
p {
    margin-top: 15px;
}

.blog_wrap:hover .blog_info {
    transform: scale(1);
}

.blog_info h4 {
    color: #333;
    font-size: 24px;
    font-weight: 500;
}

.blog_info p {
    text-transform: uppercase;
}

.blog_info a {
    font-size: 27px;
    color: #333;
}

.webb {
    width: 100%;
   height: 260px;
 
 }



 .product-app {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.product {
    display: flex;
    align-items: center;
    background-color: #00CFFF;
    padding: 20px;
    margin: 10px;
    color: white;
}

.product img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.product-info {
    flex: 1;
    color: cornflowerblue;
}

.product-info h2, .product-info p {
    margin: 5px 0;
}

button {
    background-color: #FFD700;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button i {
    margin-right: 5px;
}

.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.cart-overlay.open {
    display: block;
    animation: slide-down 0.3s ease;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

#cart {
    background-color: #00CFFF;
    padding: 20px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

.cart-overlay li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.cart-overlay li img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #FFD700;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #00CFFF;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.quantity-controls .quantity {
    font-size: 16px;
}

.remove-item {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
}

#close-cart {
    background-color: #FFD700;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}




table {
    width: 100%;
    border-collapse: collapse;
    transition: width 0.3s;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

#search {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.btn{
    padding: 8px 16px;
    margin: 8px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}